fastapi==0.135.2
uvicorn==0.42.0
motor==3.7.1
pymongo==4.16.0
python-multipart==0.0.22
passlib==1.7.4
bcrypt==3.2.0
opencv-python==4.13.0.92
mediapipe==0.10.33
numpy==2.4.3
pandas==3.0.1
scikit-learn==1.8.0
xgboost==3.2.0
joblib==1.5.3
pyjwt==2.12.1
cryptography==46.0.6
matplotlib==3.10.8
seaborn==0.13.2
redis==7.4.0
celery==5.6.3
scipy==1.17.1
pydantic==2.12.5
email-validator==2.3.0
python-dotenv==1.2.2
requests==2.33.0
google-generativeai==0.8.6
google-api-python-client==2.193.0
tenacity==9.1.2
